<br><br><br>
<div class="container">
  <div class="row">
    <div class="mb-3 col-md-4 col-sm-6 col-lg-4 d-flex align-items-stretch card-unique " *ngFor="let unique of allUsers"
      (click)="btnClick(unique)">
      <div class="card text-white bg-dark">
        <div class="blog-grid4">
          <a>
            <img class="card-img-top cover-image" src="../src/assets/avatar.png" alt="Card image cap">
          </a>
          <hr>
          <div class="card-body">
            <div class="card-body-top">
              <h5 class="gadget-name">{{unique.name}}</h5>
              <div class="overlay">
                <div class="content-trans">{{unique.emailId}}</div>
              </div>
              <h1 class="blog-name text-white">{{unique.age}}</h1>
            </div>
            <br>
          </div>
        </div>

      </div>
    </div>

  </div>

  <br>
</div>